<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mystudydemo.mapper.VioForceInfoMapper">
    <sql id="base_column_list">
        pzbh,wfxw1,wfsj,cjbj,fxjg,code,name,wfxw,time
    </sql>
    <select id="getAll" resultType="com.example.mystudydemo.entity.VioForceInfoEntity">
        select * from vioforceinfo where wfsj between #{startTime} and #{endTime}
    </select>
</mapper>